@use "./partials" as *;

.footer-container {
    width: 100%;
    background-color: $black;
    & span {
        color: $white;
        // font-family: Montserrat;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}