@use "./partials" as *;

.header-container {
    background-color: $dark-blue;
    & .header-text {
        color: $white;
        font-family: $poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}